.icon-bar {
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: #fac564;
    font-size: 30px;
    border-radius: 100%;
    background-color: #121618;
}

.icon-bar i {
    color: #fac564;
}


.icon-bar a:hover {
    background-color: white;
}

.content {
    margin-left: 75px;
    margin-right: 75px;
    font-size: 30px;
}

body {
    font-family: "Lato", sans-serif;
}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 9999;
    right: 0;
    /*height: 250px;*/
    background-color: #121618;
    overflow-x: hidden;
    transition: 0.5s;
    top: 20%;
    padding-top: 60px;
}

.sidepanel a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    right: 0;
}

.openbtn:hover {
    background-color:#444;
}

.booking-table {
    margin-top: 8px;
    list-style-type: none;
    max-height: 140px;
    overflow-y: auto;
    padding: 0 15px;
}

@media (min-width: 992px) {
    .booking-table {
        overflow-y: scroll;
        max-height: calc(100vh - 460px);
        height: calc(100vh - 460px);
    }
}

.checkout {
    margin-left: 2px;
}
